<h1>Vanilla File Upload in Rails 4</h1>
<p>This is an example application to show how to do file upload in vanilla Rails 4.  The source is on <a href="https://github.com/ryan-endacott/Rails-File-Upload-Example">GitHub</a> and an accompanying tutorial can be found <a href="http://ryan.endacott.me/upload-files-to-database-in-rails-4-without-paperclip/">here</a>.  Created by <a href="http://ryan.endacott.me/">Ryan Endacott</a>.</p>
<h2>Listing documents</h2>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.filename %></td>
        <td><%= button_to 'Download', document, method: :get %></td>
        <td><%= button_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path %>
